<!DOCTYPE html>
<html lang="en">
<head>
	{% extends "bookncart_web/base.html" %}
	{% load staticfiles %}
	{% block css_block %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="509487250429-pekgqlshg58mfqm6adctmvm3ul9nlbjr.apps.googleusercontent.com">
	<title>BooksCart</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/bootstrap/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/slick/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/slick/slick-theme.css' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/loading.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/navBarCss.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/wishlistCss.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/cartCSS.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/modalCss.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/categoryNav.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/footerCss.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/css/carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bookncart_web/toastr/toastr.min.css' %}">
	{% endblock css_block %}
</head>
<body>

	{% block content_block %}
	<div id="loading_indicator_div"></div>

	<div id="up_button_floating"><span class="glyphicon glyphicon-chevron-up" id="up_button_floating_glyph"></span></div>

	<div class="carousel_container 60_percent_height_javascript">
		<div class="carousel_slick 60_percent_height_javascript">
			<div class="carousel_div_1 60_percent_height_javascript"></div>
			<div class="carousel_div_2 60_percent_height_javascript"></div>
			<div class="carousel_div_3 60_percent_height_javascript"></div>
			<div class="carousel_div_4 60_percent_height_javascript"></div>
			<div class="carousel_div_5 60_percent_height_javascript"></div>
		</div>
		<div class="navbar_home">
			<a href="#"><img src="{% static 'bookncart_web/img_site/logo.png' %}" class="logo_image"></a>
		</div>
	</div>

	<div class="container">
		<p class="heading_category">Best Selling Books</p>
	</div>

	<div class="container show_products_as_slick">
		{% if best_selling_books %}
		{% for book in best_selling_books %}
		<div class="product_div">
			<div class="product_image_div">
				<a href="{% url 'bookncart_web:book_detail' book.id %}"><img src="{{ book.image_url.url }}" class="product_image_img" ></a>
			</div>
			<div class="product_name"><a href="{% url 'bookncart_web:book_detail' book.id %}">{{ book.name }}</a></div>
			<div class="product_price">Rs. {{ book.price }}</div>
			<div class="buttons_group">
				<div class="button_cart" onclick="addToCartFunction({{ book.id }})">
					<span class="glyphicon glyphicon-shopping-cart glyphicon_product_css" ></span>
					<span class="small_text_cart">ADD TO CART</span>
				</div>
				<div class="button_favourite">
					<span class="glyphicon glyphicon glyphicon-heart glyphicon_product_css_heart" ></span>
				</div>
				<div class="button_compare">
					<span class="glyphicon glyphicon glyphicon-random glyphicon_product_css_compare" ></span>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>

	<div class="container">
		<p class="heading_category">Top Rated Books</p>
	</div>

	<div class="container show_products_as_slick">
		{% if top_rated_books %}
		{% for book in top_rated_books %}
		<div class="product_div">
			<div class="product_image_div">
				<a href="{% url 'bookncart_web:book_detail' book.id %}"><img src="{{ book.image_url.url }}" class="product_image_img" ></a>
			</div>
			<div class="product_name"><a href="{% url 'bookncart_web:book_detail' book.id %}">{{ book.name }}</a></div>
			<div class="product_price">Rs. {{ book.price }}</div>
			<div class="buttons_group">
				<div class="button_cart">
					<span class="glyphicon glyphicon-shopping-cart glyphicon_product_css" ></span>
					<span class="small_text_cart">ADD TO CART</span>
				</div>
				<div class="button_favourite">
					<span class="glyphicon glyphicon glyphicon-heart glyphicon_product_css_heart" ></span>
				</div>
				<div class="button_compare">
					<span class="glyphicon glyphicon glyphicon-random glyphicon_product_css_compare" ></span>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>

	<div class="container">
		<p class="heading_category">Featured Books</p>
	</div>

	<div class="container show_products_as_slick">
		{% if featured_books %}
		{% for book in featured_books %}
		<div class="product_div">
			<div class="product_image_div">
				<a href="{% url 'bookncart_web:book_detail' book.id %}"><img src="{{ book.image_url.url }}" class="product_image_img" ></a>
			</div>
			<div class="product_name"><a href="{% url 'bookncart_web:book_detail' book.id %}">{{ book.name }}</a></div>
			<div class="product_price">Rs. {{ book.price }}</div>
			<div class="buttons_group">
				<div class="button_cart">
					<span class="glyphicon glyphicon-shopping-cart glyphicon_product_css" ></span>
					<span class="small_text_cart">ADD TO CART</span>
				</div>
				<div class="button_favourite">
					<span class="glyphicon glyphicon glyphicon-heart glyphicon_product_css_heart" ></span>
				</div>
				<div class="button_compare">
					<span class="glyphicon glyphicon glyphicon-random glyphicon_product_css_compare" ></span>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>

	<div class="container">
		<p class="heading_category">New Added Books</p>
	</div>

	<div class="container show_products_as_slick">
		{% if new_added_books %}
		{% for book in new_added_books %}
		<div class="product_div">
			<div class="product_image_div">
				<a href="{% url 'bookncart_web:book_detail' book.id %}"><img src="{{ book.image_url.url }}" class="product_image_img" ></a>
			</div>
			<div class="product_name"><a href="{% url 'bookncart_web:book_detail' book.id %}">{{ book.name }}</a></div>
			<div class="product_price">Rs. {{ book.price }}</div>
			<div class="buttons_group">
				<div class="button_cart">
					<span class="glyphicon glyphicon-shopping-cart glyphicon_product_css" ></span>
					<span class="small_text_cart">ADD TO CART</span>
				</div>
				<div class="button_favourite">
					<span class="glyphicon glyphicon glyphicon-heart glyphicon_product_css_heart" ></span>
				</div>
				<div class="button_compare">
					<span class="glyphicon glyphicon glyphicon-random glyphicon_product_css_compare" ></span>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
	{% endblock content_block %}

	{% block js_block %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{% static 'bookncart_web/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bookncart_web/js/loading.js' %}"></script>
	<script type="text/javascript" src="{% static 'bookncart_web/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bookncart_web/js/modernizr.js' %}"></script>
	<script type="text/javascript" src="{% static 'bookncart_web/toastr/toastr.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'bookncart_web/js/main.js' %}"></script>
	<script type="text/javascript">
		toastr.options = {
			"closeButton": true,
			"debug": false,
			"newestOnTop": false,
			"progressBar": true,
			"positionClass": "toast-bottom-center",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "1500",
			"extendedTimeOut": "1500",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		}

		function addToCartFunction(id){
			$.ajax({
				url : "add_to_cart/",
				type : "POST",
				data : { book_id : id },
				success : function(response){
					addBookInCartNavbar(response);	
				},
				error : function(xhr, errormsg ,err){
					alert(xhr.responseText  + err + errormsg);
				}
			});
		}

		function addBookInCartNavbar(response){
			var new_html = '';
			for(var i=0;i<response.cart_items.length;i++){
				new_html += '<tr><td><div class="cart_image_div_table"><a href="#"><img class="cart_image_book_table" src="' + response.cart_items[i].image_url + '"></a></div></td><td><div class="name_of_book_table_row">' + response.cart_items[i].name + '</div></td><td>QTY ' + response.cart_items[i].quantity + '</td><td>Rs. ' + response.cart_items[i].amount + '</td><td><div class="cross_button_cart" onclick="removeFromCartFunction(' + response.cart_items[i].id + ')"><span class="glyphicon glyphicon-remove glyphicon_remove_large_cart"></span></div></td></tr><tr id="insert_after_block_for_navbar_cart_table"></tr>';
			}
			new_html += '<tr class=""><td></td><td colspan="2">Sub-Total</td><td colspan="2">Rs.' + response.subtotal + '</td></tr><tr class="success"><td></td><td colspan="2">Total</td><td colspan="2">Rs. ' + response.total + '</td></tr><tr><td></td><td colspan="4"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Checkout</a></td></tr>';
			$("#cart_table_internal_html").html(new_html);

			if(response.error_message == null){
				if(response.message_type == 'add'){
					toastr.success('Successfully added book to cart');	
				}else if(response.message_type == 'delete'){
					toastr.success('Successfully deleted book from cart');	
				}
			}else{
				toastr.error(response.error_message);
			}

			$("#cart_count_navbar_text_innerhttml").html(response.quantity);
		}

		function removeFromCartFunction(id){
			$.ajax({
				url : "delete_from_cart/",
				type : "POST",
				data : { book_id : id },
				success : function(response){
					addBookInCartNavbar(response);	
				},
				error : function(xhr, errormsg ,err){
					alert(xhr.responseText  + err + errormsg);
				}
			});
		}

		function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId());
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
	
		var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };


	</script>
	{% endblock js_block %}
</body>
</html>