.carousel_container{
	height: 200px;
	overflow: hidden;
}

.carousel_slick{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.carousel_div_1{
	height: 100%;
	width: 100%;
	background-image: url("../img_site/best-books.gif");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.carousel_div_2{
	height: 100%;
	width: 100%;
	background-image: url("../img_site/books_bokeh_hd_wallpaper-wide.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.carousel_div_3{
	height: 100%;
	width: 100%;
	background-image: url("../img_site/Books-HD-Wallpapers.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.carousel_div_4{
	height: 100%;
	width: 100%;
	background-image: url("../img_site/Books-Wallpapers-Hd.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.carousel_div_5{
	height: 100%;
	width: 100%;
	background-image: url("../img_site/holy-book-2560x16001.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.navbar_home{
	position: absolute;
	z-index: 1;
}

.logo_image{
	width: 50vw;			
	margin-left: 30px;
	max-width: 250px;
	margin-bottom: 15px;
	margin-top: 55px;
}